---json
{
  "pagination": { "data": "langs", "size": 1, "alias": "lang" },
  "permalink": "{% if lang == 'en' %}sitemap.xml{% else %}sitemap-{{ lang }}.xml{% endif %}",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for u in collections.sitemap -%}
{%- if u.lang == lang %}
  <url><loc>{{ u.loc }}</loc><lastmod>{{ u.lastmod }}</lastmod><changefreq>monthly</changefreq><priority>{{ u.priority }}</priority></url>
{%- endif -%}
{%- endfor %}
</urlset>
